.products-table {
    margin-left: 1rem;
    margin-right: 1rem;
}

.border-margin {
    border-radius: 1.5rem !important;
    margin-left: 1.5rem;
}

#search-result {
    width: fit-content;
    line-height: 5px;
    padding-bottom: 5px !important;
}

.resize {
    width: auto !important;
}

.padding-row {
    border: 10rem !important;
}